# Terraform outputs
.terraform/
outputs/
terraform.tfstate.d/

# Helm outputs
charts/

# Developer specified ignores
plans/
**/*.zip
**/*.plan
**/*.out

# Filesystem and editor ignores
*.swp
.DS_Store
